body {
    margin: 0;
}
.dialog {
    display: none;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}
.dialog.active {
    display: block;
}
.dialog .back {
    z-index: -1;
    position: absolute;
    background-color: gold;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
