
.tab {
    border: solid 1px lime;
    display: none;
}

.tab.active {
    display: block;
}

.nav a {
    color: black;
    text-decoration: none;
}

.nav .active, .nav .active a {
    color: red;
}
