
.tabs > div {
    display: none;
}

.tabs > div.active {
    display: block;
}

.main-menu .active {
    font-weight: bold;
}

.tabs .students > table th {
    cursor: pointer;
}

.tabs .students > table > thead .sorted {
    color: red;
}

.tabs .students > table > thead .sorted.reverse {
    color: blue;
}

.group-filter li {
    cursor: pointer;
}

.group-filter li.active {
    font-weight: bold;
}